<div class="customer-info">
    <h1>CUSTOMER IFORMATTION</h1>

    <mat-card>
        <div>First Name: {{ orderCustomerDetail._user_firstName }}</div>

        <div>Last Name: {{ orderCustomerDetail._user_lastName }}</div>

        <div>Telephone: {{ orderCustomerDetail._user_telephone }}</div>

        <div>Email: {{ orderCustomerDetail._user_email }}</div>
    </mat-card>
</div>

<div class="container">
    <table mat-table [dataSource]="orderItems" class="mat-elevation-z8">
        <ng-container matColumnDef="_product_productName">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">
                {{ element._product_productName }}
            </td>
        </ng-container>
        <ng-container matColumnDef="_product_price">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let element">{{ element._product_price }}</td>
        </ng-container>
        <ng-container matColumnDef="_product_quantity">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">
                {{ element._product_quantity }}
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>